.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-main);
    width: 100vw;
    height: 70vw;
    margin-top: 5.2rem;
    margin-bottom: 5rem;
    position: relative;
}
.ph > a > .see{
    position: absolute;
    right: 5vw;
    top: 4vw;
    background-color: var(--bg-secondary);
    color: white;
    border-radius: 12px;
    padding: 8px 10px 8px 10px;
    font-size: 2vw;
}
.project-page{
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin-top: 5rem;
    overflow: scroll;
}
.project-page::-webkit-scrollbar {
    display: none;
}
.project-page > a{
    text-decoration: none;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    position: relative;
    margin: 10px;
    transition: 0.3s;
}
.project-card:hover{
    transform: scale(1.05);
    background-color: var(--bg-primary);
    color: black;
}
.project-card > img {
    width: 100%;
    height: 20vw;
    border-radius: 15px 15px 0px 0px;
}
.lang-text{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 2vw;
    text-decoration: none;
}
